@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9216%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9216%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9216%;
    --primary: 36.3636 17.2775% 37.451%;
    --primary-foreground: 0 0% 100%;
    --secondary: 151.0791 61.7778% 44.1176%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 4.7619% 95.8824%;
    --muted-foreground: 240 3.8298% 46.0784%;
    --accent: 240 4.7619% 95.8824%;
    --accent-foreground: 240 5.8824% 10%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5.8824% 90%;
    --input: 240 5.8824% 90%;
    --ring: 36.3636 17.2775% 37.451%;
    --chart-1: 36.3636 17.2775% 37.451%;
    --chart-2: 151.0791 61.7778% 44.1176%;
    --chart-3: 258.3117 89.5349% 66.2745%;
    --chart-4: 330.3659 81.1881% 60.3922%;
    --chart-5: 37.6923 92.126% 50.1961%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 240 10% 3.9216%;
    --sidebar-primary: 36.3636 17.2775% 37.451%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4.7619% 95.8824%;
    --sidebar-accent-foreground: 240 5.8824% 10%;
    --sidebar-border: 240 5.8824% 90%;
    --sidebar-ring: 36.3636 17.2775% 37.451%;
    --font-sans: ui-sans-serif, system-ui, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0;
    --shadow-blur: 0;
    --shadow-spread: 0;
    --shadow-opacity: 0;
    --shadow-color: 0 0 0;
    --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0);
    --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0);
    --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
    --shadow: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
    --shadow-md: 0 0 0 0 hsl(0 0 0 / 0), 0 2px 4px -1px hsl(0 0 0 / 0);
    --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0), 0 4px 6px -1px hsl(0 0 0 / 0);
    --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0), 0 8px 10px -1px hsl(0 0 0 / 0);
    --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 240 10% 3.9216%;
    --foreground: 0 0% 98.0392%;
    --card: 240 10% 3.9216%;
    --card-foreground: 0 0% 98.0392%;
    --popover: 240 10% 3.9216%;
    --popover-foreground: 0 0% 98.0392%;
    --primary: 36.3636 17.2775% 37.451%;
    --primary-foreground: 0 0% 100%;
    --secondary: 151.0791 61.7778% 44.1176%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 3.7037% 15.8824%;
    --muted-foreground: 240 5.0279% 64.902%;
    --accent: 240 3.7037% 15.8824%;
    --accent-foreground: 0 0% 98.0392%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 3.7037% 15.8824%;
    --input: 240 3.7037% 15.8824%;
    --ring: 36.3636 17.2775% 37.451%;
    --chart-1: 36.3636 17.2775% 37.451%;
    --chart-2: 151.0791 61.7778% 44.1176%;
    --chart-3: 258.3117 89.5349% 66.2745%;
    --chart-4: 330.3659 81.1881% 60.3922%;
    --chart-5: 37.6923 92.126% 50.1961%;
    --sidebar: 240 10% 3.9216%;
    --sidebar-foreground: 0 0% 98.0392%;
    --sidebar-primary: 36.3636 17.2775% 37.451%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7037% 15.8824%;
    --sidebar-accent-foreground: 0 0% 98.0392%;
    --sidebar-border: 240 3.7037% 15.8824%;
    --sidebar-ring: 36.3636 17.2775% 37.451%;
    --font-sans: ui-sans-serif, system-ui, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0;
    --shadow-blur: 0;
    --shadow-spread: 0;
    --shadow-opacity: 0;
    --shadow-color: 0 0 0;
    --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0);
    --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0);
    --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
    --shadow: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
    --shadow-md: 0 0 0 0 hsl(0 0 0 / 0), 0 2px 4px -1px hsl(0 0 0 / 0);
    --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0), 0 4px 6px -1px hsl(0 0 0 / 0);
    --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0), 0 8px 10px -1px hsl(0 0 0 / 0);
    --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0);
  }
}
